@page
@model FlashMedia.Pages.Photos.PortraitCategoryModel
@{
}
<h2>See a beautiful face?</h2>

<div class="photo-grid">
    @foreach (var photo in Model.PortraitPhotos)
    {
        <a asp-page="/Photos/PhotoDetails" asp-route-id="@photo.Id">
            <img src="@photo.FilePath" alt="@photo.Name" class="grid-img" style="height: 270px;" />
        </a>
    }
</div>